<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find travesim_adapters)/config/network.yml" />

  <include file="$(find travesim)/launch/simulation_match.launch">
  </include>

  <node name="vision_adapter" required="true" pkg="travesim_adapters" type="vision_adapter" output="screen"/>
  <node name="teams_adapter" required="true" pkg="travesim_adapters" type="teams_adapter" output="screen"/>

</launch>
